<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confirmation page</title>
    </head>
    <body>
        <div id="container" class="container" style="background-color:blanchedalmond; width:fit-content; height:fit-content; text-align:center;">
            <h1>Finished Editing?</h1>
            <p>You can access your decks at any point from the existing decks</p>
            <div id="buttons" class="buttons" style="width:20rem;display:flex; justify-content: space-evenly;">
                <button id="return"><a href="makeflashcards.html" style="text-decoration:none;color:black">Continue Editing</a></button>
                <button id="finish"><a href="index.html" style="text-decoration:none;color:red">Finish Editing</a></button>
            </div>
        </div>
    </body>
</html>