<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Flashcard Set Info</title>
    </head>
    <body>
        <div id="formbox" class="formbox" style="background-color:blanchedalmond; width:fit-content; height:fit-content">
            <form id="formcontent">
                <label for="name" style="padding-top:5rem; font-size:medium">Name of Flashcard Deck:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="topics" style="font-size:medium;">Topics/Slides (separated by semicolons)</label>
                <textarea rows="5" cols="50" name="topics" id="topics"></textarea>
                <button type="submit">Continue</button>
            </form>
            <button id="back"><a href="index.html" style="text-decoration:none;color:black">Back</a></button>
        </div>
        <script src="../scripts/createnew.js"></script>
    </body>
</html>