<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confirmation page</title>
    </head>
    <body>
        <div id="container" class="container" style="background-color:blanchedalmond; width:fit-content; height:fit-content; text-align:center;">
            <h1>What would you like to do?</h1>
            <div id="buttons" class="buttons" style="width:20rem;display:flex; justify-content: space-evenly;">
                <button id="edit"><a href="makeflashcards.html" style="text-decoration:none;color:black">Edit Deck</a></button>
                <button id="test"><a href="testorder.html" style="text-decoration:none;color:black">Test</a></button>
                <button id="delete"><a href="confirmdelete.html" style="text-decoration:none;color:red">Delete</a></button>
            </div>
        </div>
    </body>
</html>