<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../styles/index.css">
    </head>
    <body>
        <div id="container" class="container">
            <div id="header" class="header">
                <h1>Welcome to Multicards, a new way of making flashcards!</h1>
                <h1>Select an option to continue:</h1>
            </div>
            <div id="btn1" class="btn1">
                <button id="createnew"><a href="createnew.html"  style="text-decoration:none;color:black">Create Flashcard Set</a></button>
            </div>
            <div id="btn2" class="btn2">
                <button id="useexisting"><a href="selectset.html"  style="text-decoration:none;color:black">Use an Existing Set</a></button>
            </div>
        </div>
    </body>
</html>