<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Choosing testing order</title>
    </head>
    <body>
        <div id="formbox" class="formbox" style="background-color:blanchedalmond; width:20rem; height:fit-content">
            <h1>Customize your testing!</h1>
            <form id="formcontent">
                <label for="howmany" style="padding-top:5rem; font-size:medium">How many sides would you like to be tested on?</label><br>
                <input type="number" min="2" id="howmany" style="width:5rem;" name="howmany"><br>
                <button type="submit">Continue</button>
            </form>
            <button id="back"><a href="editortest.html" style="text-decoration:none;color:black">Back</a></button>
        </div>
        <script src="../scripts/testorder.js"></script>
    </body>
</html>